<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Zahid project copy</title>
    <link rel="stylesheet" href="desing_vendor/css/style.css" />
    <link rel="stylesheet" href="desing_vendor/css/clip_plagin.css" />
    <link rel="shortcut icon" href="img/shortcut_image.png">
    <link rel="stylesheet" href="desing_vendor/css/bootstrap.min.css" />

    <link rel="stylesheet" href="desing_vendor/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="desing_vendor/css/owl.theme.default.min.css" />
    <link rel="stylesheet" href="desing_vendor/css/owl.theme.green.min.css" />

    <script src="desing_vendor/js/fontawesome.all.min.js"></script>

    <script src="desing_vendor/js/jquery.min.js"></script>

    <script src="desing_vendor/js/jquery-3.5.1.min.js"></script>

    <!------------------------ image modal link --------------------------->

    <link rel="stylesheet" href="desing_vendor/css/magnific-popup.css" />
    <script src="desing_vendor/js/isotope.pkgd.js"></script>
    <script src="desing_vendor/js/jquery.magnific-popup.js"></script>

    <style>
        .container_dark_sub{
        background:white !important;
        }
        .container_dark_sub .nav-link{
        color:#333 !important;
        }
    </style>

  </head>
  <body>
<section id="navbar" class="fixed-top bg-dark navBar_scroll">
    <div class="container">
        <nav class="navbar navbar-expand-md">
            <a href="index.html" class="navbar-brand"><img src="img/logo.png" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_toggler">
                <span class="bars">
                    <i class="fas fa-bars text-white"></i>
                </span>
            </button>
            <div class="collapse navbar-collapse" id="navbar_toggler">
                <ul class="navbar-nav ml-auto">  
                    <li class="nav-item">
                        <a href="index.html" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="service.html" class="nav-link">Services</a>
                    </li>
                    <li class="nav-item">
                        <a href="portfolio.html" class="nav-link">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a href="review.html" class="nav-link">Review</a>
                    </li>
                    <li class="nav-item">
                        <a href="blog.html" class="nav-link">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a href="gallery.html" class="nav-link">Gallery</a>
                    </li>
                    <li class="nav-item active">
                        <a href="about.html" class="nav-link">About</a>
                    </li>
                    <li class="nav-item">
                        <a href="contact.html" class="nav-link">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">File Share</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</section>

<section id="about" class="py-5">
    <div class="container">
        <div class="image_section text-center my-5">
            <img class="rounded-circle" src="img/background_image2.jpg" alt="">
        </div>
    </div>
    <div class="container">
        <h2 class="text-center">Web Developer</h2>
        <div class="row">
            <div class="description" style="display:table"><div>Hey,</div>
            <p>I am Zahid. I have 3+ years of experience in Web Development. <strong><a title="Fiverr" href="https://www.fiverr.com/mjhm12" target="_blank">Customer service: 20/7.</a></strong></p>
            <p>You will get <strong><a title="Fiverr" href="https://www.fiverr.com/mjhm12" target="_blank">100% full support</a></strong>&nbsp;of work assured until you are fully satisfied</p>
            <h2>My key skills are:</h2>
            <ul style="list-style-type: disc;">
            <li>HTML5</li>
            <li>CSS3</li>
            <li>JavaScript&nbsp;</li>
            <li>Jquery</li>
            <li>Bootstrap</li>
            <li>SASS (SCSS)</li>
            <li>PHP</li>
            <li>OOP, PDO</li>
            <li>Rest API</li>
            <li>MySql</li>
            <li>Any sketch&nbsp;or PSD to HTML</li>
            <li>Demo import WordPress</li>
            <li>PHP Website Installation</li>
            <li>User panel with PHP, OOP, Mysql</li>
            <li>Admin Panel with PHP, OOP, Mysql</li>
            <li>Controller with PHP, OOP, Mysql</li>
            <li>Laravel</li>
            </ul>
            </div>
        </div>
    </div>
</section>

<section class="footer text-center text-white py-4" id="footer">
    <div class="container">
        <div class="copyright small">
            © Motin Reza Copyright 2021
        </div>
    </div>
</section>

    <!------------------------------- js file link --------------------------->

    <script src="desing_vendor/js/owl.carousel.min.js"></script>
    <script src="desing_vendor/js/owl_carosel.js"></script>
    <script src="desing_vendor/js/owl_carosel2.js"></script>
    <script src="desing_vendor/js/image_modal.js"></script>
    <script src="desing_vendor/js/modal.js"></script>
    <script src="desing_vendor/js/counter.js"></script>
    <script src="desing_vendor/js/clip_plagin.js"></script>
    <script src="desing_vendor/js/navbar_scroll.js"></script>
    <script src="desing_vendor/js/popper.min.js"></script>
    <script src="desing_vendor/js/bootstrap.min.js"></script>
  </body>
</html>
