<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Zahid project copy</title>
    <link rel="stylesheet" href="desing_vendor/css/style.css" />
    <link rel="stylesheet" href="desing_vendor/css/clip_plagin.css" />
    <link rel="shortcut icon" href="img/shortcut_image.png">
    <link rel="stylesheet" href="desing_vendor/css/bootstrap.min.css" />

    <link rel="stylesheet" href="desing_vendor/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="desing_vendor/css/owl.theme.default.min.css" />
    <link rel="stylesheet" href="desing_vendor/css/owl.theme.green.min.css" />

    <script src="desing_vendor/js/fontawesome.all.min.js"></script>

    <script src="desing_vendor/js/jquery.min.js"></script>

    <script src="desing_vendor/js/jquery-3.5.1.min.js"></script>

    <!------------------------ image modal link --------------------------->

    <link rel="stylesheet" href="desing_vendor/css/magnific-popup.css" />
    <script src="desing_vendor/js/isotope.pkgd.js"></script>
    <script src="desing_vendor/js/jquery.magnific-popup.js"></script>

    <style>
        .container_dark_sub{
        background:white !important;
        }
        .container_dark_sub .nav-link{
        color:#333 !important;
        }
    </style>

  </head>
  <body>
<section id="navbar" class="fixed-top bg-dark navBar_scroll">
    <div class="container">
        <nav class="navbar navbar-expand-md">
            <a href="index.html" class="navbar-brand"><img src="img/logo.png" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_toggler">
                <span class="bars">
                    <i class="fas fa-bars text-white"></i>
                </span>
            </button>
            <div class="collapse navbar-collapse" id="navbar_toggler">
                <ul class="navbar-nav ml-auto">  
                    <li class="nav-item">
                        <a href="index.html" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="service.html" class="nav-link">Services</a>
                    </li>
                    <li class="nav-item">
                        <a href="portfolio.html" class="nav-link">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a href="review.html" class="nav-link">Review</a>
                    </li>
                    <li class="nav-item active">
                        <a href="blog.html" class="nav-link">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a href="gallery.html" class="nav-link">Gallery</a>
                    </li>
                    <li class="nav-item">
                        <a href="about.html" class="nav-link">About</a>
                    </li>
                    <li class="nav-item">
                        <a href="contact.html" class="nav-link">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">File Share</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</section>

<section id="blog_post" class="py-5">
    <div class="container">
        <div class="title_main my-5">
            <span class="main_title_section">
                My Blog
            </span>
        </div>
		<div class="row py-5">
			<div class="column col-md-6 col-lg-4 col-xs-12">
				<div class="main_column">
					<div class="image">
						<a tag="Web Design" href="blog_post.html"><img src="img/blog_details_image.jpg" alt=""></a>
					</div>
					<div class="description">
						<h2>
							<a href="blog_post.html">The Best WordPress Real Estate Themes &amp; Plugins</a>
						</h2>
					</div>
					<div class="row creator mx-0">
						<div class="col-6 pl-0 text-left">
							<a href="postf969.html?n=the-best-wordpress-real-estate-themes-&amp;-plugins&amp;id=6">Read More</a>
						</div>
						<div class="col-6 pr-0 text-right">
							By : <a href="index.html">Admin </a>
						</div>
					</div>
				</div>
			</div>
		</div>
</section>

<section class="footer text-center text-white py-4" id="footer">
    <div class="container">
        <div class="copyright small">
            © Motin Reza Copyright 2021
        </div>
    </div>
</section>

    <!------------------------------- js file link --------------------------->

    <script src="desing_vendor/js/owl.carousel.min.js"></script>
    <script src="desing_vendor/js/owl_carosel.js"></script>
    <script src="desing_vendor/js/owl_carosel2.js"></script>
    <script src="desing_vendor/js/image_modal.js"></script>
    <script src="desing_vendor/js/modal.js"></script>
    <script src="desing_vendor/js/counter.js"></script>
    <script src="desing_vendor/js/clip_plagin.js"></script>
    <script src="desing_vendor/js/navbar_scroll.js"></script>
    <script src="desing_vendor/js/popper.min.js"></script>
    <script src="desing_vendor/js/bootstrap.min.js"></script>
  </body>
</html>
