<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Zahid project copy</title>
    <link rel="stylesheet" href="desing_vendor/css/style.css" />
    <link rel="stylesheet" href="desing_vendor/css/clip_plagin.css" />
    <link rel="shortcut icon" href="img/shortcut_image.png">
    <link rel="stylesheet" href="desing_vendor/css/bootstrap.min.css" />

    <link rel="stylesheet" href="desing_vendor/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="desing_vendor/css/owl.theme.default.min.css" />
    <link rel="stylesheet" href="desing_vendor/css/owl.theme.green.min.css" />

    <script src="desing_vendor/js/fontawesome.all.min.js"></script>

    <script src="desing_vendor/js/jquery.min.js"></script>

    <script src="desing_vendor/js/jquery-3.5.1.min.js"></script>

    <!------------------------ image modal link --------------------------->

    <link rel="stylesheet" href="desing_vendor/css/magnific-popup.css" />
    <script src="desing_vendor/js/isotope.pkgd.js"></script>
    <script src="desing_vendor/js/jquery.magnific-popup.js"></script>

    <style>
        .container_dark_sub{
        background:white !important;
        }
        .container_dark_sub .nav-link{
        color:#333 !important;
        }
    </style>

  </head>
  <body>
<section id="navbar" class="fixed-top bg-dark navBar_scroll">
    <div class="container">
        <nav class="navbar navbar-expand-md">
            <a href="index.html" class="navbar-brand"><img src="img/logo.png" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_toggler">
                <span class="bars">
                    <i class="fas fa-bars text-white"></i>
                </span>
            </button>
            <div class="collapse navbar-collapse" id="navbar_toggler">
                <ul class="navbar-nav ml-auto">  
                    <li class="nav-item">
                        <a href="index.html" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="service.html" class="nav-link">Services</a>
                    </li>
                    <li class="nav-item active">
                        <a href="portfolio.html" class="nav-link">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a href="review.html" class="nav-link">Review</a>
                    </li>
                    <li class="nav-item">
                        <a href="blog.html" class="nav-link">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a href="gallery.html" class="nav-link">Gallery</a>
                    </li>
                    <li class="nav-item">
                        <a href="about.html" class="nav-link">About</a>
                    </li>
                    <li class="nav-item">
                        <a href="contact.html" class="nav-link">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">File Share</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</section>

<section id="portfolio" class="py-5 my-5">
    <div class="title_main">
        <span class="main_title_section">
            Portfolioes
        </span>
    </div>
    <div class="container">
        <div class="row py-5">
            <div class="row">
                <div class="col-lg-4 col-md-6 p-1 col-xs-12 column">
                    <a class="portfolioSection" title="Full Admin Panel" description="Full Admin Panel" data-title="Full Admin Panel" data-idno="18" data-image="img/826users-form13.png" data-description="Full Admin Panel" data-table="portfolio" data-toggle="modal" href="#modal" data-image-id="" data-target="#image-gallery">
                        <img class="img-thumbnail" src="img/826users-form13.png" alt="Another alt text">
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 p-1 col-xs-12 column">
                    <a class="portfolioSection" title="Full Admin Panel" description="Full Admin Panel" data-title="Full Admin Panel" data-idno="18" data-image="img/826users-form13.png" data-description="Full Admin Panel" data-table="portfolio" data-toggle="modal" href="#modal" data-image-id="" data-target="#image-gallery">
                        <img class="img-thumbnail" src="img/826users-form13.png" alt="Another alt text">
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 p-1 col-xs-12 column">
                    <a class="portfolioSection" title="Full Admin Panel" description="Full Admin Panel" data-title="Full Admin Panel" data-idno="18" data-image="img/826users-form13.png" data-description="Full Admin Panel" data-table="portfolio" data-toggle="modal" href="#modal" data-image-id="" data-target="#image-gallery">
                        <img class="img-thumbnail" src="img/826users-form13.png" alt="Another alt text">
                    </a>
                </div>

                <div class="col-lg-4 col-md-6 p-1 col-xs-12 column">
                    <a class="portfolioSection" title="Control of Post" description="Control of Post" data-title="Control of Post" data-idno="18" data-image="img/826users-form13.png" data-description="Control of Post" data-table="portfolio" data-toggle="modal" href="#modal" data-image-id="" data-target="#image-gallery">
                        <img class="img-thumbnail" src="img/826users-form13.png" alt="Another alt text">
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 p-1 col-xs-12 column">
                    <a class="portfolioSection" title="Control of Post" description="Control of Post" data-title="Control of Post" data-idno="18" data-image="img/826users-form13.png" data-description="Control of Post" data-table="portfolio" data-toggle="modal" href="#modal" data-image-id="" data-target="#image-gallery">
                        <img class="img-thumbnail" src="img/826users-form13.png" alt="Another alt text">
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 p-1 col-xs-12 column">
                    <a class="portfolioSection" title="Control of Post" description="Control of Post" data-title="Control of Post" data-idno="18" data-image="img/826users-form13.png" data-description="Control of Post" data-table="portfolio" data-toggle="modal" href="#modal" data-image-id="" data-target="#image-gallery">
                        <img class="img-thumbnail" src="img/826users-form13.png" alt="Another alt text">
                    </a>
                </div>

                <div class="col-lg-4 col-md-6 p-1 col-xs-12 column">
                    <a class="portfolioSection" title="Update users info" description="Control users and update users info." data-title="Update users info" data-idno="18" data-image="img/826users-form13.png" data-description="Update users info" data-table="portfolio" data-toggle="modal" href="#modal" data-image-id="" data-target="#image-gallery">
                        <img class="img-thumbnail" src="img/826users-form13.png" alt="Another alt text">
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 p-1 col-xs-12 column">
                    <a class="portfolioSection" title="Update users info" description="Control users and update users info." data-title="Update users info" data-idno="18" data-image="img/826users-form13.png" data-description="Update users info" data-table="portfolio" data-toggle="modal" href="#modal" data-image-id="" data-target="#image-gallery">
                        <img class="img-thumbnail" src="img/826users-form13.png" alt="Another alt text">
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 p-1 col-xs-12 column">
                    <a class="portfolioSection" title="Update users info" description="Control users and update users info." data-title="Update users info" data-idno="18" data-image="img/826users-form13.png" data-description="Update users info" data-table="portfolio" data-toggle="modal" href="#modal" data-image-id="" data-target="#image-gallery">
                        <img class="img-thumbnail" src="img/826users-form13.png" alt="Another alt text">
                    </a>
                </div>

                <div class="col-lg-4 col-md-6 p-1 col-xs-12 column">
                    <a class="portfolioSection" title="Sign up page" description="This my simple signup page.Maybey the desing is simple but the backend is work amazing" data-title="Sign up page" data-idno="18" data-image="img/826users-form13.png" data-description="Sign up page" data-table="portfolio" data-toggle="modal" href="#modal" data-image-id="" data-target="#image-gallery">
                        <img class="img-thumbnail" src="img/826users-form13.png" alt="Another alt text">
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 p-1 col-xs-12 column">
                    <a class="portfolioSection" title="Sign up page" description="This my simple signup page.Maybey the desing is simple but the backend is work amazing" data-title="Sign up page" data-idno="18" data-image="img/826users-form13.png" data-description="Sign up page" data-table="portfolio" data-toggle="modal" href="#modal" data-image-id="" data-target="#image-gallery">
                        <img class="img-thumbnail" src="img/826users-form13.png" alt="Another alt text">
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 p-1 col-xs-12 column">
                    <a class="portfolioSection" title="Sign up page" description="This my simple signup page.Maybey the desing is simple but the backend is work amazing" data-title="Sign up page" data-idno="18" data-image="img/826users-form13.png" data-description="Sign up page" data-table="portfolio" data-toggle="modal" href="#modal" data-image-id="" data-target="#image-gallery">
                        <img class="img-thumbnail" src="img/826users-form13.png" alt="Another alt text">
                    </a>
                </div>
            </div>
    
            <a href="">
			<div class="modal fade" id="image-gallery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Full Admin Panel</h5>
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <img id="image-gallery-image" class="img-responsive col-md-12" src="">
                        </div>
                        <div class="modal-footer">
                            <div class="text-justify text-center py-2" id="image-gallery-caption">
								<a href="">Control of Post</a>
                            </div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
			</a>
        </div>
    </div>
</section>

<section class="footer text-center text-white py-4" id="footer">
    <div class="container">
        <div class="copyright small">
            © Motin Reza Copyright 2021
        </div>
    </div>
</section>

    <!------------------------------- js file link --------------------------->

    <script src="desing_vendor/js/owl.carousel.min.js"></script>
    <script src="desing_vendor/js/owl_carosel.js"></script>
    <script src="desing_vendor/js/owl_carosel2.js"></script>
    <script src="desing_vendor/js/image_modal.js"></script>
    <script src="desing_vendor/js/modal.js"></script>
    <script src="desing_vendor/js/counter.js"></script>
    <script src="desing_vendor/js/clip_plagin.js"></script>
    <script src="desing_vendor/js/navbar_scroll.js"></script>
    <script src="desing_vendor/js/popper.min.js"></script>
    <script src="desing_vendor/js/bootstrap.min.js"></script>
  </body>
</html>
